@font-face {
    font-family: "DoubleFeature";
    src: url('DoubleFeature21.ttf');
  }

  @font-face {
    font-family: "Murderer";
    src: url('youmurdererbb_reg.otf');
  }

.rowHeader {
    background-color: rgb(59, 58, 58);
    height: 10vh;
    color: rgb(214, 86, 0);
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: DoubleFeature;
}

.rowHeader1 {
    background-color: rgb(59, 58, 58);
    height: 10vh;
    color: rgb(250, 0, 0);
    font-size: 4.6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: Murderer;
}

div.col-12.text-center{
    margin:15px;
}

div.login.row{
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
}

button.btn.btn-primary, button.btn.btn-secondary {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;

}  

.text-hover{
    display:none;
}

.text-hover:hover{
    visibility:visible;
}

