.rowHeader {
    background-color: rgb(59, 58, 58);
    height: 10vh;
    color: rgb(214, 86, 0);
    font-size: 1.8rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

div.col-12.text-center{
    margin:15px;
}